/* Add CSS Styling */

.odd {
  background-color: #fea7a7;
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.three {
  font-size: 24px;
}

#two {
  font-size: 36px;
  color: #0000ff;
}

#four {
  background-color: #80ff80;
  font-size: 24px;
  font-weight: 700;
}
