body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
}

.title {
  margin: 0px;
  font-size: 16px;
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-top: 0px;
}

.card * {
  margin-top: 10px;
  padding: 10px;
}

.button-container button {
  margin: 0px auto;

}
